
If you only have php code in one html file but have multiple other files that only contain html code, you can add the following to your .htaccess file so it will only serve that particular file as php.

<Files index.html>
AddType application/x-httpd-php .html 
</Files>
